.delight {
  max-height: 100%;
  width: 100%;
}
.delight2 {
  width:400px;
  height:auto;
}
.size {margin:0;}
.header{height:1000px;}

.intro-title{text-align: center;}

.intro-content{
  display:flex;
  align-items: center;
  justify-content : center;
}

h2{
    margin-top: 30px;
    margin-bottom: 30px;
}
.intro-text{
  text-align: center;
  width:55%;
  opacity: 0;
  transform: translateY(20px);
}
